@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    border: 2px solid red;
}
input {
    outline: none
}

.spin {
    animation: spin 0.5s linear infinite
}

.wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.loader:nth-child(1) {
    animation: l1 infinite 1s linear;
}
.loader:nth-child(2) {
    animation: l2 infinite 1s linear;
}

@keyframes spin {

    100% {
        transform: rotateZ(360deg)
    }

}

@keyframes l1 {

    100% {
        transform: rotateZ(360deg)
    }

}
@keyframes l2 {

    100% {
        transform: rotateZ(-360deg)
    }

}

