@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.border {
    border: 2px solid red;
}
input {
    outline: none
}

.spin {
    animation: spin 0.5s linear infinite
}

@keyframes spin {

    100% {
        transform: rotateZ(360deg)
    }

}